* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-principal: #395bb2;
  --blue-light-principal: #829bd9;
  --blue-ultra-light-principal: #97b4ff;
  --blue-dark-principal: #1942a8;
  --blue-light-alternative: #5776c4;
  --blue-dark-alternative: #0f2f80;
  --blue-head-footer: #081b4d;
  --dark-grey: #111111;
  --medium-grey: #515151;
  --light-grey: #e0dfdf;
  --orange-one: #f47f2c;
  --orange-dark-one: #d05d0b;
  --green-one: #5abf33;
  --green-dark-one: #3da417;
  --whiteblue-one: #4bb2e8;
  --whiteblue-dark-one: #279ede;
  --background-gradient-light: linear-gradient(
    90deg,
    var(--blue-principal) 45%,
    var(--blue-light-principal) 75%
  );
  --background-gradient-dark: linear-gradient(
    90deg,
    var(--blue-dark-principal) 45%,
    var(--blue-dark-alternative) 75%
  );
}

::-webkit-scrollbar {
  background: transparent;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  border: 5px solid transparent;
  background-clip: content-box;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes appear-element{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-top-element {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes move-left-element {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes move-right-element {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.move-left-title{
  animation-name: move-left-element;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.move-left-paragraph{
  animation-name: move-left-element;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.move-left-element{
  animation-name: move-left-element;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.move-right-title{
  animation-name: move-right-element;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.move-right-paragraph{
  animation-name: move-right-element;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.move-right-element{
  animation-name: move-right-element;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.arrow-up {
  text-decoration: none;
  color: transparent;
  background-color: transparent;
  border: 4px solid transparent;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 9999;
  transition: 0.4s;
}

.arrow-up:hover {
  transition: 0.4s;
  border: 4px solid transparent;
}

.arrow-up i {
  font-size: 30px;
  transform: translate(20px, 15px);
}

.arrow-scrolling-active {
  color: white;
  background-color: rgba(100, 99, 99, 0.8);
  transition: 0.4s;
}

.arrow-scrolling-active:hover {
  transition: 0.4s;
  border: 4px solid white;
}

.arrow-scrolling-active i {
  font-size: 30px;
  transform: translate(20px, 15px);
}

html {
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--medium-grey);
  color: var(--blue-principal);
  overflow: overlay;
  background-image: url(/one-internet-redesign/img/home/fiber-home.webp);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(0px);
  backdrop-filter: brightness(50%);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 150px 0px 150px;
  background-color: var(--blue-head-footer);
  color: var(--blue-light-principal);
  border-bottom: 4px solid white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  z-index: 999;
  opacity: 0;
  animation-name: appear-element;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

nav img {
  display: block;
  width: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

nav ul li {
  font-size: 18px;
  font-weight: bold;
  padding: 1.5rem 15px 1.5rem 15px;
  height: 100%;
  border: 4px solid transparent;
  color: var(--blue-ultra-light-principal);
  transition: 0.4s;
}

nav ul li:hover {
  transition: 0.4s;
  color: white;
  border-top: 4px solid white;
}

nav .nav-toggle {
  background-color: transparent;
  color: white;
  border: 0;
  position: fixed;
  right: 0;
  padding-top: 17px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

nav .nav-toggle i {
  font-size: 30px;
  line-height: 60px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 99;
  opacity: 0;
  animation-name: appear-element;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#home .home-background {
  width: 100%;
  height: 100vh;
}

#home .home-text {
  position: absolute;
  padding: 200px;
  margin-top: 50px;
}

#home .home-text img {
  opacity: 0;
  width: 400px;
  height: auto;
  margin: 0 auto 15px auto;
  animation-name: move-top-element;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

#home .home-text p {
  opacity: 0;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: var(--blue-ultra-light-principal);
  margin-bottom: 100px;
  animation-name: move-top-element;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#home .home-text a {
  text-decoration: none;
  padding: 50px;
  color: white;
  border: 4px solid white;
  border-radius: 100%;
  transition: 0.4s;
  opacity: 0;
  animation-name: appear-element;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#home .home-text a i {
  transform: translateY(5px);
  font-size: 30px;
  font-weight: bold;
}

#home .home-text a:hover {
  transition: 0.4s;
  background-color: var(--blue-principal);
}

#home .home-text a:checked,
#home .home-text a:focus,
#home .home-text a:active {
  transition: 0.4s;
  background-color: var(--blue-dark-alternative);
}

#plans-nav {
  display: block;
  padding: 30px;
  background: var(--background-gradient-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  border-top: 8px solid white;
}

#payment-nav {
  display: block;
  padding: 30px;
  background: var(--background-gradient-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  border-top: 8px solid white;
}

#about-nav {
  display: block;
  padding: 30px;
  background: var(--background-gradient-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  border-top: 8px solid white;
}

#contact-nav {
  display: block;
  padding: 30px;
  background: var(--background-gradient-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  border-top: 8px solid white;
}

#plans {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--background-gradient-light);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 4rem 50px 4rem;
  text-align: center;
  cursor: default;
}

#plans h1 {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 15px;
  opacity: 0;
}

#plans .plans-description {
  color: var(--light-grey);
  font-size: 20px;
  font-style: italic;
  opacity: 0;
}

#plans .plans-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  width: 80%;
  padding: 30px;
  height: auto;
  margin: 10px auto 30px auto;
  opacity: 0;
}

#plans .plans-grid .plans-panel {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: 4px 4px 5px var(--blue-dark-alternative);
}

#plans .plans-grid .plans-panel .plans-panel-title {
  width: 100%;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#plans .plans-grid .plans-panel .plans-panel-title h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: initial;
  margin-bottom: 5px;
}

#plans .plans-grid .plans-panel .plans-panel-title p {
  font-size: 17px;
  font-weight: 400;
  font-style: initial;
  color: var(--light-grey);
}

#plans .plans-grid .plans-panel .plans-panel-title p strong {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

#plans .plans-grid .plans-panel .plans-panel-price {
  width: 100%;
  height: auto;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#plans .plans-grid .plans-panel .plans-panel-price h2 {
  font-size: 55px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

#plans .plans-grid .plans-panel .plans-panel-price p {
  font-size: 17px;
  font-weight: 400;
  font-style: initial;
  color: var(--light-grey);
}

#plans .plans-grid .plans-panel .plans-panel-describe {
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#plans .plans-grid .plans-panel .plans-panel-describe h2 {
  color: var(--dark-grey);
  font-size: 17px;
  padding: 15px 10px 15px 10px;
}

#plans .plans-grid .plans-panel .plans-panel-describe hr {
  border-radius: 25px;
  width: 10%;
}

#plans .plans-grid .plans-panel .plans-panel-install {
  width: 100%;
  height: auto;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-grey);
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#plans .plans-grid .plans-panel .plans-panel-install h2 {
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  margin: 5px auto 15px auto;
}

#plans .plans-grid .plans-panel .plans-panel-install h4 {
  color: var(--medium-grey);
  font-size: 15px;
  font-weight: bold;
  font-style: initial;
}

#plans .plans-grid .plans-panel .plans-panel-install h4 i {
  color: var(--medium-grey);
  margin: auto 5px auto 5px;
}

#plans .plans-grid .plans-panel .plans-panel-install h4 strong {
  font-size: 20px;
  margin: auto 5px auto 5px;
}

#plans .plans-grid .plans-panel .plans-panel-install hr {
  border: 4px solid var(--dark-grey);
  border-radius: 25px;
  margin: 15px auto 15px auto;
}

#plans .plans-grid #plans-panel-zero .plans-panel-title {
  background-color: var(--medium-grey);
}
#plans .plans-grid #plans-panel-zero .plans-panel-price {
  background-color: var(--dark-grey);
}
#plans .plans-grid #plans-panel-zero .plans-panel-describe hr {
  border: 2px solid var(--medium-grey);
}
#plans .plans-grid #plans-panel-zero .plans-panel-install h4 strong {
  color: var(--dark-grey);
}

#plans .plans-grid #plans-panel-one .plans-panel-title {
  background-color: var(--orange-one);
}
#plans .plans-grid #plans-panel-one .plans-panel-price {
  background-color: var(--orange-dark-one);
}
#plans .plans-grid #plans-panel-one .plans-panel-describe hr {
  border: 2px solid var(--orange-one);
}
#plans .plans-grid #plans-panel-one .plans-panel-install h4 strong {
  color: var(--orange-dark-one);
}

#plans .plans-grid #plans-panel-two .plans-panel-title {
  background-color: var(--green-one);
}
#plans .plans-grid #plans-panel-two .plans-panel-price {
  background-color: var(--green-dark-one);
}
#plans .plans-grid #plans-panel-two .plans-panel-describe hr {
  border: 2px solid var(--green-one);
}
#plans .plans-grid #plans-panel-two .plans-panel-install h4 strong {
  color: var(--green-dark-one);
}

#plans .plans-grid #plans-panel-three .plans-panel-title {
  background-color: var(--whiteblue-one);
}
#plans .plans-grid #plans-panel-three .plans-panel-price {
  background-color: var(--whiteblue-dark-one);
}
#plans .plans-grid #plans-panel-three .plans-panel-describe hr {
  border: 2px solid var(--whiteblue-one);
}
#plans .plans-grid #plans-panel-three .plans-panel-install h4 strong {
  color: var(--whiteblue-dark-one);
}

#payment {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--background-gradient-dark);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 4rem 50px 4rem;
  text-align: center;
  cursor: default;
}

#payment h1 {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 15px;
  opacity: 0;
}

#payment p {
  color: var(--light-grey);
  font-size: 20px;
  font-style: italic;
  opacity: 0;
}

#payment .payment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 60%;
  padding: 30px;
  height: auto;
  margin: 10px auto 30px auto;
  opacity: 0;
}

#payment .payment-grid .payment-panel {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: 4px 4px 3px var(--blue-ultra-light-principal);
}

#payment .payment-grid .payment-panel .payment-panel-title {
  width: 100%;
  padding: 25px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  background-color: var(--blue-principal);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#payment .payment-grid .payment-panel .payment-panel-title h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}
#payment .payment-grid .payment-panel .payment-panel-media {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#payment .payment-grid .payment-panel .payment-panel-media h2 {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#payment .payment-grid .payment-panel .payment-panel-price {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 30px 10px 30px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#payment .payment-grid .payment-panel .payment-panel-price:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#payment .payment-grid .payment-panel #payment-panel-media-one {
  background: linear-gradient(
    45deg,
    var(--orange-dark-one) 50%,
    var(--orange-one) 50%
  );
}

#payment .payment-grid .payment-panel #payment-panel-media-two {
  background: linear-gradient(
    45deg,
    var(--green-dark-one) 50%,
    var(--green-one) 50%
  );
}

#payment .payment-grid .payment-panel #payment-panel-media-three {
  background: linear-gradient(
    45deg,
    var(--whiteblue-dark-one) 50%,
    var(--whiteblue-one) 50%
  );
}

#payment .payment-grid .payment-panel #payment-panel-price-three {
  width: 100%;
  flex-direction: column;
  height: auto;
  padding: 25px 10px 20px 10px;
}

#payment .payment-grid .payment-panel #payment-panel-price-one img {
  width: 35%;
  height: auto;
  padding: 10px 20px 10px 20px;
}

#payment .payment-grid .payment-panel #payment-panel-price-one img:last-child {
  width: 60%;
}

#payment .payment-grid .payment-panel #payment-panel-price-two img {
  width: 25%;
  height: auto;
  margin: auto 20px auto 20px;
  padding: 10px 20px 10px 20px;
}

#payment .payment-grid .payment-panel #payment-panel-price-three img {
  width: 28%;
  height: auto;
  padding: 10px 20px 10px 20px;
}

#payment
  .payment-grid
  .payment-panel
  #payment-panel-price-three
  img:nth-child(2n) {
  width: 64%;
  margin: 15px auto 15px auto;
}

#payment
  .payment-grid
  .payment-panel
  #payment-panel-price-three
  img:last-child {
  width: 48%;
}

#about {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--background-gradient-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 4rem 50px 4rem;
  text-align: center;
  cursor: default;
}

#about h1 {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 15px;
  opacity: 0;
}

#about .about-description {
  color: var(--light-grey);
  font-size: 20px;
  font-style: italic;
  margin-bottom: 10px;
  opacity: 0;
}

#about .about-grid{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#about .about-grid .about-panel {
  width: 70%;
  height: auto;
  background-color: white;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 4px 4px 3px var(--blue-dark-alternative);
}

#about .about-grid .about-panel:nth-child(2n) {
  flex-direction: row-reverse;
}

#about .about-grid .about-panel:last-child {
  margin-bottom: 60px;
}

#about .about-grid .about-panel .about-panel-img {
  background-image: url(/one-internet-redesign/img/about/one-internet-place.webp);
  width: 40%;
  height: auto;
  background-size: cover;
  border: 4px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#about .about-grid .about-panel .about-panel-text {
  width: 60%;
  height: auto;
  padding: 10px 20px 10px 20px;
  border: 4px solid white;
  text-align: right;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#about .about-grid .about-panel:nth-child(2n) .about-panel-text {
  text-align: left;
}

#about .about-grid .about-panel .about-panel-text h2 {
  height: auto;
  font-size: 28px;
  font-weight: bold;
  color: var(--blue-dark-principal);
  padding-right: 25px;
  padding-bottom: 10px;
}

#about .about-grid .about-panel .about-panel-text p {
  height: auto;
  font-size: 15px;
  font-style: initial;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--medium-grey);
}

#about .about-grid .about-panel .about-panel-text .about-panel-offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 20px;
  padding: 15px;
  color: white;
  margin-top: 15px;
}

#about .about-grid .about-panel .about-panel-text .about-panel-offers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .about-grid .about-panel .about-panel-text .about-panel-offers div i {
  font-size: 30px;
}

#about .about-grid .about-panel .about-panel-text .about-panel-offers div:nth-child(1n) i {
  color: var(--blue-light-principal);
}

#about .about-grid .about-panel .about-panel-text .about-panel-offers div:nth-child(2n) i {
  color: var(--blue-principal);
}

#about .about-grid .about-panel .about-panel-text .about-panel-offers div p {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

#contact {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--background-gradient-dark);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 4rem 50px 4rem;
  text-align: center;
  cursor: default;
}

#contact h1 {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 15px;
  opacity: 0;
}

#contact p {
  color: var(--light-grey);
  font-size: 20px;
  font-style: italic;
  opacity: 0;
}

#contact .contact-panel {
  display: flex;
  flex-direction: row;
  width: 64%;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 60px;
  background-color: white;
  border-radius: 5px;
  border: 4px solid white;
  box-shadow: 4px 4px 3px var(--blue-ultra-light-principal);
  opacity: 0;
}

#contact .contact-panel form {
  background-color: var(--blue-dark-alternative);
  background: linear-gradient(
    45deg,
    var(--blue-dark-alternative) 54%,
    var(--blue-principal) 54%
  );
  padding: 20px;
  width: 35%;
  text-align: left;
  border-radius: 5px;
  margin-right: 5px;
}

#contact .contact-panel form div {
  display: flex;
  flex-direction: column;
}

#contact .contact-panel form div label {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

#contact .contact-panel form div input {
  padding: 10px 15px 10px 15px;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #111111;
  transition: 0.4s ease-in;
}

#contact .contact-panel form div textarea {
  padding: 10px 15px 10px 15px;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #111111;
  transition: 0.4s;
}

#contact .contact-panel form div input:focus,
#contact .contact-panel form div input:active,
#contact .contact-panel form div textarea:focus,
#contact .contact-panel form div textarea:active {
  transition: 0.4s;
  outline: none;
  box-shadow: 4px 4px 3px var(--blue-ultra-light-principal);
}

#contact .contact-panel form div input[type="submit"] {
  margin-top: 30px;
  width: 50%;
  margin: 30px auto 10px auto;
  background-color: var(--blue-light-principal);
  border: 2px solid transparent;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#contact .contact-panel form div input[type="submit"]:hover {
  background-color: var(--blue-principal);
  border: 2px solid white;
}

#contact .contact-panel iframe {
  width: 65%;
  border-radius: 5px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-head-footer);
  border-top: 4px solid white;
  color: white;
  cursor: default;
}

footer .social-media a i {
  padding: 15px;
  font-size: 25px;
  color: var(--blue-ultra-light-principal);
  transition: 0.4s ease-in;
}

footer .social-media a i:hover {
  color: white;
}

footer .job-times {
  padding: 20px;
  text-align: center;
}

footer .job-times h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

footer .job-times p {
  font-size: 15px;
}

footer .copyright {
  font-size: 17px;
}

@media (max-width: 1750px) {
  #plans .plans-grid .plans-panel .plans-panel-title h2 {
    font-size: 17px;
  }
  #plans .plans-grid .plans-panel .plans-panel-describe h2 {
    font-size: 14px;
  }
}

@media (max-width: 1550px) {
  #payment .payment-grid .payment-panel #payment-panel-price-one img {
    width: 45%;
  }

  #payment .payment-grid .payment-panel #payment-panel-price-two img {
    width: 30%;
  }

  #payment .payment-grid .payment-panel #payment-panel-price-three img {
    width: 35%;
  }

  #payment
    .payment-grid
    .payment-panel
    #payment-panel-price-three
    img:nth-child(2n) {
    width: 75%;
  }

  #payment
    .payment-grid
    .payment-panel
    #payment-panel-price-three
    img:last-child {
    width: 55%;
  }

  #contact .contact-panel form {
    width: 45%;
  }
}

@media (max-width: 1347px) {
  #payment .payment-grid .payment-panel #payment-panel-price-one img {
    width: 35%;
  }

  #payment
    .payment-grid
    .payment-panel
    #payment-panel-price-one
    img:last-child {
    width: 60%;
  }

  #payment .payment-grid .payment-panel #payment-panel-price-two img {
    width: 25%;
  }

  #payment .payment-grid .payment-panel #payment-panel-price-three img {
    width: 28%;
  }

  #payment
    .payment-grid
    .payment-panel
    #payment-panel-price-three
    img:nth-child(2n) {
    width: 64%;
  }

  #payment
    .payment-grid
    .payment-panel
    #payment-panel-price-three
    img:last-child {
    width: 48%;
  }
}

@media (max-width: 1280px) {
  #contact .contact-panel {
    flex-direction: column;
    width: 45%;
  }

  #contact .contact-panel form {
    width: 100%;
    margin-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #contact .contact-panel iframe {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media (max-width: 980px) {
  .arrow-up {
    display: none;
  }
  
  nav {
    align-items: baseline;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0;
  }

  nav img {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  nav .nav-menu {
    flex-direction: column;
    background-color: rgba(8, 27, 77, 0.7);
    position: fixed;
    width: 100%;
    left: 100%;
    text-align: center;
    margin-top: 92px;
    height: calc(100% - 92px);
    overflow-y: auto;
    transition: left 0.4s;
  }

  nav .nav-menu .nav-item li {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-top: 0;
    height: 80px;
    height: 100%;
  }

  nav .nav-menu .nav-item li:hover {
    background-color: var(--blue-dark-principal);
    border-top: 0;
  }

  nav .nav-toggle {
    display: initial;
    padding-right: 23px;
  }

  nav .nav-menu-visible {
    transition: left 0.4s;
    left: 0;
  }

  #home .home-text {
    padding: 0;
  }

  #plans p, #payment p, #about p, #contact p{
    padding-left: 150px;
    padding-right: 150px;
  }

  #about .about-grid .about-panel {
    flex-direction: column-reverse;
    width: 60%;
  }

  #about .about-grid .about-panel:nth-child(2n) {
    flex-direction: column-reverse;
  }

  #about .about-grid .about-panel:last-child {
    margin-bottom: 0;
  }

  #about .about-grid .about-panel .about-panel-img {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -10px;
  }

  #about .about-grid .about-panel .about-panel-text {
    width: 100%;
    text-align: center;
    border-top-left-radius: 5px;
    border: 0;
  }

  #about .about-grid .about-panel:nth-child(2n) .about-panel-text {
    text-align: center;
  }

  #about .about-grid .about-panel .about-panel-text h2 {
    padding-right: 0;
  }

  #contact .contact-panel {
    width: 60%;
  }

  footer {
    padding: 15px 50px 25px 50px;
    flex-direction: column;
  }

  footer .social-media {
    border-bottom: 4px solid var(--blue-ultra-light-principal);
  }

  footer .social-media a i {
    font-size: 30px;
    color: white;
  }

  footer .job-times {
    border-bottom: 4px solid var(--blue-ultra-light-principal);
  }

  footer .copyright {
    padding: 15px;
  }
}

@media (max-width: 780px) {
  #plans .plans-grid,
  #payment .payment-grid,
  #about .about-grid .about-panel,
  #contact .contact-panel{
    width: 80%;
  }

  #plans p, #payment p, #about p, #contact p{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 620px){
  #plans .plans-grid,
  #payment .payment-grid,
  #about .about-grid .about-panel,
  #contact .contact-panel{
    width: 100%;
  }

  footer .social-media a i {
    font-size: 25px;
  }

  footer .copyright {
    font-size: 15px;
  }
}

@media (max-width: 520px){
  #home .home-text img{
    width: 250px;
  }

  #home .home-text p{
    font-size: 20px;
  }

  #home .home-text a{
    padding: 40px;
  }

  #plans,
  #payment,
  #about,
  #contact{
    padding: 50px 0 20px 0;
  }

  #about{
    padding-bottom: 70px;
  }

  #plans h1,
  #payment h1,
  #about h1,
  #contact h1{
    font-size: 30px;
  }

  #plans p,
  #payment p,
  #about p,
  #contact p{
    font-size: 17px;
  }

  #about .about-grid .about-panel,
  #contact .contact-panel{
    width: 88%;
  }

  #about .about-grid .about-panel .about-panel-text p{
    font-size: 12px;
  }


  footer .copyright{
    text-align: center;
  }
}
